PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/zepter-careers
JWT_SECRET=change-me

APP_BASE_URL=http://localhost:5000

MAILTRAP_API_TOKEN=
MAIL_FROM_EMAIL=karijera@zepter.rs
MAIL_FROM_NAME=Zepter Careers

SMTP_HOST=mail
SMTP_PORT=587
#start tls
SMTP_USER=karijer
SMTP_PASS=aaaa
SMTP_SECURE=false
